body,
html {
  margin: 0;
  height: 100vh;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: green;
}

.content-container {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 255px;
  background-color: aquamarine;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  height: 160px;
  background-color: cadetblue;
}
